*.exe
*.exe~
*.out
*.out~
*.so
*.dylib
*.dll

/target/
**/target/
/Cargo.lock

/.vscode/
/.idea/

/target/doc/

*.profdata
*.profraw
coverage/

*.log
*.tmp
*.temp
*.bak

/node_modules/

.DS_Store
*.swp
*.swo
*~

TODO.md
.env
